@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #aec6cf;
    color: white;
}

.main-card {
    background-color: #7dd77d;
    max-width: 65vw;
    text-align: center;
    padding: 40px 40px 40px 40px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

h1, h2 {
    font-family:  Open Sans, Helvetica;
}

.main {
    font-size: 2.5em;
    font-weight: 600;
}

.btn-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    column-gap: 1.5em;
    grid-auto-rows: 'auto';
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: #7dc87d;   
    height: 65px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
                0 1px 5px 0 rgba(0, 0, 0, 0.12), 
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    border:0;
    border-radius: 4px;
}

.btn:hover {
    background-color: #49a349;
}

h4, h5 {
    font-weight: 300;
    font-family: Roboto, Helvetica;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    font-size: 1.15em;
    text-decoration: underline;
}