@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Roboto&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(193, 218, 227);
  color: black;
  font-family: Noto Sans, Roboto, San Francisco, SF Pro Text, sans-serif, Helvetica, Arial;
}

.main-card {
  background-color: rgb(193, 218, 227);
  max-width: 70vw;
  text-align: left;
  padding: 40px 40px 40px 40px;
  /* box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75); */
}

/* Phones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main-card {
    /* background-color: #fafafa; */
    max-width: 97.5vw;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .main-card {
    /* background-color: #fafafa; */
    max-width: 75vw;
  }
}

/* iPad Pro */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .main-card {
    /* background-color: #fafafa; */
    max-width: 85vw;
  }
}

/* h1, h2, h3, h4, h5 {
    font-family:  Noto Sans, Roboto, San Francisco, Helvetica, Arial;
} */

.heading-main {
  font-size: 2.5em;
}

.heading-secondary {
  font-weight: 400;
}

.heading-row {
  margin: 0 0 0 0;
  font-size: 1.75em;
}

.heading-name {
  color: rgb(0, 122, 94);
}

.btn-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: flex-start;
}

.btn-container > a {
  margin-right: 12.5px;
}

a {
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: underline;
  font-weight: 700;
}

.link-calgary {
  color: rgb(204, 0, 0);
}

/* .link-linkedin {
    color: rgb(209, 0, 202);
}

.link-twitter {
    color: rgb(0, 132, 180);
}

.link-github {
    color: rgb(0, 122, 94);
}*/

.link-resume {
  /* color: rgb(204, 0, 0); */
  color: rgb(0, 122, 94);
}
