#site-heading {
  font-family: Oswald, Verdana;
  font-size: 70px;
}

#site-tagline,
#projects-heading,
#project-info-heading {
  font-family: Oswald, Verdana;
}

#projects-info-and-list {
  position: relative;
}

#projects-list {
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  width: 30%;
  padding-left: 5%;
  display: inline-block;
  margin-left: 10%;
  margin-top: 2.5%;
}

#project-info {
  float: right;
  width: 30%;
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
  display: inline-block;
  margin-right: 10%;
  margin-top: 2.5%;
}

#projects-heading {
  font-size: 40px;
  padding-top: 2.5%;
}

#project-info-heading {
  padding-left: 37.5%;
}

#project-info-paragraph {
  font-size: 14px;
  font-family: Helvetica;
  text-align: left;
  padding-right: 5%;
  padding-left: 7%;
}

#media {
  padding-left: 35%;
}